---
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Alessio Rubicini's Blog</title>
    <link>https://alessiorubicini.github.io/blog/</link>
    <description>Thoughts on iOS development, Swift, SwiftUI, and building on Apple platforms.</description>
    <language>en-us</language>
    <atom:link href="https://alessiorubicini.github.io/blog/feed.xml" rel="self" type="application/rss+xml"/>
    <lastBuildDate>{{ collections.posts[0].date | readableDate }}</lastBuildDate>
    {% for post in collections.posts %}
    <item>
      <title>{{ post.data.title | escape }}</title>
      <link>https://alessiorubicini.github.io{{ post.url }}</link>
      <guid isPermaLink="true">https://alessiorubicini.github.io{{ post.url }}</guid>
      <pubDate>{{ post.date.toUTCString() }}</pubDate>
      {% if post.data.description %}<description>{{ post.data.description | escape }}</description>{% endif %}
      {% if post.data.tags %}
        {% for tag in post.data.tags %}{% if tag != "posts" %}<category>{{ tag }}</category>{% endif %}{% endfor %}
      {% endif %}
    </item>
    {% endfor %}
  </channel>
</rss>
